{% extends "base.html" %}
{% block title %} 메인 | MARK {% endblock %}
{% block content %}
{% load static %}
<!-- 내부 스타일시트 -->
<style type="text/css">
body {
    background-color:black; 
}
.container {
    margin-top: -25px;
    margin-bottom: 10px;
}
.jumbotron {
    background-image: url("{% static 'images/mark4.jpg' %}");
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 1200px;
    margin-left: -30px;
}
footer {
    width: 1550px;
    margin-top: -30px;
}

</style>
<!-- 점보트론 -->
<div class="container">
    <br><br>
    <div class="jumbotron"></div>
</div>
                  
{% endblock content %}