{% extends "base.html" %}

{% block title %}비밀번호 찾기 | MARK{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<!-- 비밀번호찾기-->
<div class="wrapper fadeInDown">
    <div id="formContent">
    <br>
    <h3>비밀번호 찾기</h3>
    <br>
    <!-- 비밀번호찾기 Form -->
    <form method="POST" action="{% url 'member:find_passwd' %}">
        {% csrf_token %}
        {{form | linebreaks}}
        <input type="submit" class="fadeIn fourth" value="확인">
    </form>
    </div>
</div>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

var message = "{{ message }}";
if (message=="실패"){
    alert("입력하신 정보가 올바르지 않습니다.");
}        
</script>
{% endblock content %}

