{% extends "base.html" %}


{% block title %}회원 로그인 | MARK{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<!-- 로그인-->
<div class="wrapper fadeInDown">
    <div id="formContent">
    <br>
    <h3>회원 로그인</h3>
    <br>

    <!-- Login Form -->
    <form method="POST" action="{% url 'member:login' %}">
        {% csrf_token %}
        {{form | linebreaks}}
        <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
          
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="{% url 'member:find_id' %}">아이디 찾기</a> |
            <a class="underlineHover" href="{% url 'member:find_passwd' %}">비밀번호 찾기</a> |
            <a class="underlineHover" href="{% url 'member:signup' %}">회원 가입</a>
        </div>
          
    </div>
</div>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

var message = "{{ message }}";
if (message=="실패"){
    alert("아이디 또는 비밀번호가 일치하지 않습니다.");
}        
</script>
{% endblock content %}
