{% extends "base.html" %}

{% block title %}새 비밀번호 변경 | MARK{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<!-- 비밀번호변경-->
<div class="wrapper fadeInDown">
    <div id="formContent">
    <br>
    <h3>새 비밀번호 변경</h3>
    <br>
    <!-- 비밀번호변경 Form -->
    <form method="POST" action="{% url 'member:passwdup' pk=obj %}">
        {% csrf_token %}
        {{form | linebreaks}}
        <input type="submit" class="fadeIn fourth" value="변경하기">
    </form>
    </div>
</div>
{% endblock content %}