/* 커뮤니티 고정 css */
.container_img {
    background-image: url("../images/board.jpg");
    background-size: 100%;
    width: 1139px;
    height: 350px;
    margin-top:-20px;   
}

.side_bar {
    width: 180px;
    height: 900px;
    float: left;          
}
.board_bar {
    width: 950px;
    float: right;
    position: absolute;
    margin-left:190px;
    border: none;
    padding: 30px 20px 0px 100px;
}
li {
    list-style: none;
}
.fanpage_side {
    width: 180px;
    height: 600px;
    position: relative;
    padding-right: 40px;
    border: 1px solid #222;
}
.fanpage_side ul li.title {
    color: #222;
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 1px solid #222;
}
.fanpage_side ul li {
    display: block;
    padding: 5px 0;
}
.fanpage_side ul li a {
    color: #222;
    font-size: 14px;
}
.fanpage_side ul li a:hover,
.fanpage_side ul li a:focus {
    text-decoration: none;
    cursor: pointer;
    color: #999;
    font-size: 14px;
}


