{% extends "board/board_base.html" %}
{% block title %} 앨범 | MARK {% endblock %}

{% block boardbar %}
{% load static %}
<!-- conbody 내부 스타일시트 -->
<style type="text/css">
.conbody {
        font-family: 'Nanum Square', '나눔 고딕', 'Nanum Gothic', sans-serif;
        font-weight:  bold;
        color: black;
        margin: 0;
        padding: 0;
    }
.conbody .conleft {
    font-size: 13px;
    color: #333;
    font-family: sans-serif;
    width: 440px;
    float: left;
    margin-left: -30px;
}
.conbody .conright {
    width: 400px;
    margin-left: 440px;
    
}
h1 {
    background-color: #000000;
    color: yellow;
    text-align: center;
    font-size: 35px;
    letter-spacing: 7px;
    font-weight: bolder;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: -1px;
    font-family: 'Oswald', 'Nanum Square', sans-serif;   
}
h4 {
    color: black;
    font-weight: bolder;
}
.conright .profile_img img{
    width: 400px;
    height: 600px;
}
.conleft a:hover,
.conleft a:focus{
    text-decoration: none;
    cursor: pointer;
    background-color: #000000;
    color: yellow;
}
</style>    
{% block conbody %}
<div class="conbody">
    <div class="conleft">
        <h1>&nbsp;ALBUM LIST&nbsp;</h1>
        <h4>2016</h4>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20160410.jpg'">4월 10일 / 일곱 번째 감각 (The 7th Sense) / NCT U / 디지털 싱글</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20160710.jpg'">7월 10일 / NCT #127 / NCT 127 / 미니 1집 </a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20160827.jpg'">8월 27일 / Chewing Gum / NCT DREAM / 디지털 싱글</a><br>
        <h4>2017</h4>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20170106.jpg'">1월 6일 / NCT #127 LIMITLESS / NCT 127 / 미니 2집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20170209.jpg'">2월 9일 / The First - The 1st Single Album / NCT DREAM / 싱글 1집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20170614.jpg'">6월 14일 / NCT #127 CHERRY BOMB / NCT 127 / 미니 3집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20170817.jpg'">8월 17일 / We Young / NCT DREAM / 미니 1집</a><br>
        <h4>2018</h4>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20180314.jpg'">3월 14일 / NCT 2018 EMPATHY / NCT 2018 / 정규 1집 </a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20180516.jpg'">5월 16일/ Chain / NCT 127 / 일본 미니 1집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20180903.jpg'">9월 3일 / We Go Up / NCT DREAM / 미니 2집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20181004.jpg'">10월 4일 / Touch (Japanese Ver.) / NCT 127 / 일본 디지털 싱글</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20181012.jpg'">10월 12일 / NCT #127 Regular-Irregular / NCT 127 / 정규 1집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20181123.jpg'">11월 23일 / NCT #127 Regulate / NCT 127 / 정규 1집 리패키지</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20181227.jpg'">12월 27일 / 사랑한단 뜻이야(Candle Light) / NCT DREAM / 디지털 싱글</a><br>
        <h4>2019</h4>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20190417.jpg'">4월 17일 / Awaken / NCT 127 / 일본 정규 1집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20190524.jpg'">5월 24일 / NCT #127 WE ARE SUPERHUMAN / NCT 127 / 미니 4집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20191004.jpg'">10월 4일 / SuperM / SuperM / 미니 1집</a><br>
        <h4>2020</h4>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20200508.jpg'">5월 8일 / 영웅 (英雄; Kick It) Remixes / NCT 127 /디지털 싱글</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20200925.jpg'">9월 25일 / Super One / SuperM / 정규 1집</a><br>
            <a href="#" onclick="document.getElementById('album').src='../../../static/images/mark_album/20201012.jpg'">10월 12일 / NCT 2020 : RESONANCE Pt. 1 / NCT 2020 / 정규 2집</a><br>
    </div>
    <div class="conright">
        <div class="profile_img">
            <img id="album" src="{% static 'images/album.jpg' %}">
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$('a[href="#"]').click(function(e) {
	e.preventDefault();
}); //링크클릭시 상단위치로 이동X
</script>
{% endblock conbody %}
{% endblock boardbar %}