{% extends "board/board_base.html" %}
{% block title %} 인증공간 | MARK {% endblock %}

{% block boardbar %}
{% load static %}
<!-- boardbar 내부 스타일시트 -->
<style type="text/css">
h3 {
    color:#222;
    font-weight: bold;
    
}
.contop {
    width:700px;
    border-bottom: 1px solid #ddd;
}
.contop span {
    font-size: 13px;
    color: #999;
    font-weight: bold;
}

/* 게시판표 */
.conbody {
    padding-top: 42px;
}
.tbl_common {
    border-top: 2px solid #222;
    border-bottom: 1px solid #ddd;
}
.tbl_common td{
    padding: 8px 8px 0 0;
    border-bottom: 1px solid #ddd;
    line-height: 24px;
}
.tbl_common .cont {
    padding-left: 30px;
}

/* 페이징 */
.tbl_page {
    text-align: center;
}

/* 검색바 */
.tbl_search {
    background: #efefef;
    border: 1px solid #ccc;
}
.tbl_search form {
    padding:20px 10px 10px 10px;
}
.tbl_search .findType_1 {
    height: 28px;
    border: 1px solid #ccc;
}

/* 검색버튼 */
.tbl_search .findType_search {
    width: 80px;
    height: 28px;
    background:#444;
    border: 1px solid #666;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
}
/* 글쓰기 버튼 */
.tbl_search a.findType_2 {
    width: 80px;
    height: 28px;
    background:#444;
    border: 1px solid #666;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    padding: 5px 19.3px 5px 19.3px;
    text-decoration: none;
}

</style>
<div class="contop">
<table cellspacing=1 width=700>
    <tr>
    <td><h3>&nbsp;&nbsp;인증공간</h3></td>
    </tr>
    <tr>
        <td><p align=right>
        <a href="{% url 'board:index' %}"><img class="lo_home" src="{% static 'images/lo_home.jpg' %}" alt="home"></a>&nbsp;&nbsp;&nbsp;
        <img class="lo_arrow" src="{% static 'images/lo_arrow.jpg' %}" alt=">">&nbsp;&nbsp;
        <a href="{% url 'board:auth_list' %}"><span>인증공간</span></a></p>
        </td> 
    </tr>
</table>
</div>


{% block conbody %}
<div class="conbody">
<!-- 테이블 -->
<table cellspacing=1 width=700 class="tbl_common">
    <tr>
    <td width=340 class="left"><p align=center>제목</p>
    </td>
    <td width=100><p align=center>작성자</p>
    </td>
    <td width=120><p align=center>등록일</p>
    </td>
    <td width=60><p align=center>조회수</p>
    </td>
    </tr>

    {% if restaurants %}
    <ul>
    {% for boardRow in  restaurants %}
    <tr>
    <td width=340 class="cont">
    <p align=left>
    <a href="{% url 'board:auth_detail' boardRow.id %}" >{{ boardRow.subject }}
    </p>
    </td>
    <td width=100><p align=center>{{ boardRow.name }}</p></td>
    <td width=120><p align=center>{{ boardRow.create_date }}</p></td>
    <td width=60><p align=center>{{ boardRow.hits }}</p></td>
    </tr>
    {% endfor %}
    </ul>
    {% endif %}
</table>


<!-- 페이징 (현재페이지일 경우 굵게 표시<b>)-->
<br>   
<table cellspacing=1 width=700 class="tbl_page">
    <tr>
    <td>
    {% if restaurants.has_previous %}
    <a href="?page=1"><b>&laquo;</b></a>
    {%  endif %}

    {% for pageNum in pageRange %}
        {% if restaurants.number == pageNum %}
            <spen class="current">
                [
                <b>{{ restaurants.number }}</b> 
                ]
            </spen>
        {% else %}
            <a href="?page={{ pageNum }}">[{{ pageNum }}]</a>
        {% endif %}
    {% endfor %}

    {% if restaurants.paginator.num_pages > lastPage %}
        <a href="?page={{ nextRangeStartPage }}"><b>&raquo;</b></a>
    {% endif %}
    </td>
    </tr>
</table>
<br>

<!-- 버튼 (글쓰기, 글찾기) -->    
<table cellspacing=1 width=700 class="tbl_search">
    <tr>
    <td>
    <!-- 글찾기 -->
    <form name=searchform method="GET" action="{% url 'board:auth_search' %}" enctype="multipart/form-data"><p align=center>
    <select name="findType" class="findType_1">
        <option value selected>--검색--</option>
        <option value="title">제목</option>
        <option value="name">작성자</option>
        <option value="content">내용</option>
    </select>
    <input type="text" name="b" class="findType_1" size=30 maxlength=50>
    <input type="submit" class="findType_search" value="글찾기"></p>
    </form>

    </td>

    <!-- 글쓰기 -->
    <td><a href="{% url 'board:auth_create' %}" class="findType_2">글쓰기</a></td>
    </tr>
</table>
</div>
{% endblock conbody %}
{% endblock boardbar %}