{% extends "board/board_base.html" %}
{% block title %} 팬카페 | MARK {% endblock %}

{% block boardbar %}
{% load static %}
<!-- boardbar 내부 스타일시트 -->
<style type="text/css">
/* 전체 */
.container {
    height: 1500px;
}
.board_bar{
    padding: 0px 20px 20px 80px;
}
/* 전체 테이블 간격 */
.row_index {
    padding-bottom: 40px;
}
/* 테이블 맨 윗줄 */
.first {
    background: #f5f5f5;
    border-color: #ddd;
    font-size: 14px;
    font-weight: bolder;
}
/* 테이블 내용 줄 */
.second {
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    font-weight: bold;
    color: #444;
}

td {
    padding: 12px 10px 3px 15px;
}
</style>

<div class="row_index">
    <table cellspacing=1 width=885 class="tbl_common">
        <tr class="first">
            <td width=600><p align=left>공지사항</p>
            </td>
            <td width=100><p align=right style="font-size: 12px;"><a href="{% url 'board:notice_list'%}">More&nbsp;</a></p>
            </td>
        </tr>
        <ul>
        {% for notice_list in notice %}
        <tr class="second">
            <td width=600><p align=left><a href="{% url 'board:notice_detail' notice_list.id %}" >{{ notice_list.subject }}</a></p>
            </td>
            <td width=100><p align=right>{{ notice_list.create_date }}</p>
            </td>
        </tr>
        {% endfor %}
        </ul>
    </table>    
</div>
<div class="row_index">
    <table cellspacing=1 width=885 class="tbl_common">
        <tr class="first">
            <td width=600><p align=left>FROM.MARK</p>
            </td>
            <td width=100><p align=right style="font-size: 12px;"><a href="{% url 'board:from_mark_list'%}">More&nbsp;</a></p>
            </td>
        </tr>
        <ul>
        {% for from_mark_list in from_mark %}
        <tr class="second">
            <td width=600><p align=left><a href="{% url 'board:from_mark_detail' from_mark_list.id %}" >{{ from_mark_list.subject }}</a></p>
            </td>
            <td width=100><p align=right>{{ from_mark_list.create_date }}</p>
            </td>
        </tr>
        {% endfor %}
        </ul>
    </table>  
</div>
<div class="row_index">
    <table cellspacing=1 width=885 class="tbl_common">
        <tr class="first">
            <td width=600><p align=left>자유게시판</p>
            </td>
            <td width=100><p align=right style="font-size: 12px;"><a href="{% url 'board:freetalk_list'%}">More&nbsp;</a></p>
            </td>
        </tr>
        <ul>
        {% for freetalk_list in freetalk %}
        <tr class="second">
            <td width=600><p align=left><a href="{% url 'board:freetalk_detail' freetalk_list.id %}" >{{ freetalk_list.subject }}</a></p>
            </td>
            <td width=100><p align=right>{{ freetalk_list.create_date }}</p>
            </td>
        </tr>
        {% endfor %}
        </ul>
    </table>  
</div>
<div class="row_index">
    <table cellspacing=1 width=885 class="tbl_common">
        <tr class="first">
            <td width=600><p align=left>질문답변</p>
            </td>
            <td width=100><p align=right style="font-size: 12px;"><a href="{% url 'board:question_list'%}">More&nbsp;</a></p>
            </td>
        </tr>
        <ul>
        {% for question_list in question %}
        <tr class="second">
            <td width=600><p align=left><a href="{% url 'board:question_detail' question_list.id %}" >{{ question_list.subject }}</a></p>
            </td>
            <td width=100><p align=right>{{ question_list.create_date }}</p>
            </td>
        </tr>
        {% endfor %}
        </ul>
    </table>  
</div>


{% endblock boardbar %}