{% extends "base.html" %}
{% block content %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/board.css' %}">
<!-- 커뮤니티 메인홈 -->
<div class="container"> <!-- 컨테이너 중앙에 고정 -->
<!-- 상단 대문이미지 -->
<div class="container_img"></div>
<br>
<div clsas="container_board">
    {% block sidebar %}
    <!-- 사이드바 -->
    <div class="side_bar">
        <div class="fanpage_side">
        <ul>
            <li class="title">NOTICE</li>
                <li><a href="{% url 'board:notice_list' %}">공지사항</a></li>
                <li><a href="{% url 'board:schedule' %}">스케쥴</a></li>
            <li class="title">ARTIST</li>
                <li><a href="{% url 'board:profile' %}">프로필</a></li>
                <li><a href="{% url 'board:album' %}">앨범소개</a></li>
                <li><a href="{% url 'board:from_mark_list' %}">FROM.MARK</a></li>
                <li><a href="{% url 'board:to_mark_list' %}">TO.MARK</a></li>
            <li class="title">BOARD</li>
                <li><a href="{% url 'board:freetalk_list' %}">자유게시판</a></li>
                <li><a href="{% url 'board:auth_list' %}">인증공간</a></li>
                <li><a href="{% url 'board:question_list' %}">질문답변</a></li>
            <li class="title">Q&A</li>
                <li><a href="{% url 'board:inquiry' %}">문의하기</a></li>
                <li><a href="{% url 'board:report' %}">신고하기</a></li>
        </ul>
        </div>
    </div>
    {% endblock sidebar%}
    <!-- 게시공간 -->
    <div class="board_bar">
    {% block boardbar %}
    {% endblock boardbar %}
    </div> 
</div>

</div>
<br>
{% endblock content %}

