{% extends "base.html" %}
{% block title %} 갤러리 | MARK {% endblock %}
{% block content %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<!-- 컨테이너 중앙에 고정 -->
<div class="container"> 
    <!-- 상단 대문이미지 -->
    <div class="container_img"></div><br>
    <div clsss="container_board">
        <div class="sv-wrap">
            <div class="sv"></div>
        </div>
        <div class="content inner">
            <!-- 갤러리 타이틀 -->
            <h2 class="page_tit">GALLERY</h2>
            <div class="board-wrap">
                <!-- 갤러리 리스트 -->
                <ul class="artist-gallery">
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_1.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_1.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_2.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_2.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_3.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_3.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_4.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_4.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_5.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_5.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_6.jpeg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_6.jpeg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_7.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_7.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_8.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_8.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_9.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_9.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_10.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_10.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_11.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_11.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                    <li>
                        <a href="javascript:showGallery('../../../static/images/mark_gallery/gallery_12.jpg');" title="확대보기" >
							<span><img src="{% static 'images/mark_gallery/gallery_12.jpg' %}" alt="MARK의 이미지"></span>
						</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 컨테이너 END -->

<!-- 레이어 팝업 START -->
<div class="layerpop layer_gallery" style="display: none;">
    <span class="layer_blind"></span>
    <div class="gall_pos" style="top: 500px;">
        <p class="zoom_img"><a href="javascript:closeLayer();"><img src="../../../static/images/mark_gallery/gallery_1.jpg" alt="MARK 사진" id="zoom_image"></a></p>
        <p class="align-c btn_close">
            <button type="button" class="plain" title="갤러리 닫기" onclick="closeLayer();">
                <img src="../../../static/images/btn_close.png" alt="레이어 팝업 닫기">
            </button>   
        </p>
    </div>
</div>
<!-- 레이어 팝업 END -->

<script>

//showGallery(src)는 이미지 사이즈에 따라 레이어팝업 위치를 조절하고, 이미지를 배치하는 함수입니다.
function showGallery(src) {
    var img = new Image();
    img.src = src;

    var newHeight = img.width > 1200 ? 1200 * img.height / img.width : img.height;

    img.onload=function(){
        //이미지 사이즈에 따른 스크롤 위치 조절
        var winPos = $(window).scrollTop();
        var newPos = winPos;

        if ($(document).height() - winPos < 220 + newHeight) {
            newPos = $(document).height() - 220 - newHeight;
        }
        
        $("#zoom_image").attr("src", img.src);
        $(".layer_gallery .gall_pos").css("top", newPos);
        $(window).scrollTop(newPos);
        $(".layer_gallery").show();

    }



    img.onerror=function(){
        alert("이미지를 불러올 수 없습니다.");
    }
}

//레이어 팝업창 닫기
function closeLayer(){  
    $(".layer_gallery").hide();
}
</script>
{% endblock content %}