{% extends "board/question_list.html" %}

{% block conbody %}
{% load static %}
<!-- conbody 내부 스타일시트 -->
<style type="text/css">
.container {
    height: 4000px;
}
/* 테이블 상단*/
table {
    margin-top: 30px;
    border-collapse: collapse;
    border-spacing: 0;
}
.tbl_common_view {
    width: 700px;
    border: 1px solid #ddd;
}
.tbl_common_view th {
    padding: 15px 0;
    text-align: center;
    background: #f5f5f5;
    border-top: 2px solid #222;
    border-bottom: 1px solid #ddd;
    color: #222;
    word-break: keep-all;
    font-size: 16px;
}
.tbl_common_view td {
    padding: 15px;
    border-bottom: none;
    border-top: none;
    text-align: left;
    line-height: 26px;
    color: #444;
    border-bottom: 1px solid #ddd;
    word-break: keep-all;
    font-size: 13px;
    font-weight: bold;
}
.tbl_common_view td li span {
    margin-right: 5px;
}

/* 내용 */
.viewContWrap {
    width: 700px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 40px 0;
    padding: 40px 0;
    color: #444;
}
.viewCont {
    width: 700px;
    overflow: hidden;
    font-size: 14px;
    color: #444;
}

/* 목록버튼 */
.btn_listWrap {
    width: 100%;
    margin: 0 auto;
    padding-right: 120px;
    overflow: hidden;
    text-align: right;
    font-size: 0;
}
.btn_list {
    display: inline-block;
    width: 80px;
    height: 40px;
    margin-top: 30px;
    margin-right: 10px;
    line-height: 40px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #666;
    text-align: center;
    background-color: #444;    
}
.btn_list a {
    text-decoration: none;
    color: white;
    width: 120px;
    display: inline-block;
    padding-right: 42px;
}

/* 수정, 삭제 버튼 숨기기*/
#control{display:none}

/* 댓글작성창 */
.comment-bottom {
    width: 700px;
    
}
textarea.form-control{
    width: 610px;
}
.alert {
    width: 610px;
}
/* 댓글창 */
#comment {
    width: 610px;
    border-top: 1px solid #d7d5d5;
}

.comment-list {
    width: 610px;
    position: relative;
    overflow: hidden;
    border: 1px solid #d7d5d5;
    border-top: none;
    color: #353535;
    padding: 12px 0px 7px;
}

.comment-name {
    font-weight: bold;
    padding: 0px 20px 10px 20px;
}
.comment-memo {
    clear: both;
    border-top: 1px solid #e9e9e9;
    padding: 15px 20px 10px 20px;
}
.btn {
    font-size: 13px;
    font-weight: bold;
    background-color: #FFD633;
    border: 1px solid white;
    color: #444;
    float: right;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #444;
    color: white;
}

/* 댓글 삭제 버튼 */
.but {
    color: red;
}
.but:hover {
    text-decoration: none;
    cursor: pointer;
}

.co_update1 {
    display:block;
}
.co_update2 {
    display:none;
}
/* 페이징 위치 */
.tbl_page {
    text-align: center;
    margin-left: -50px;
}
</style>
<!-- 테이블 상단 -->
<table cellpadding="0" cellspacing="0" border="0" class="tbl_common_view">
    <tbody>
        <tr>
            <th colspan="2">{{ obj.subject }}</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        <span>작성자 :</span>
                        {{ obj.name }}
                    </li>
                    <li>
                        <span>작성일 :</span>
                        {{ obj.create_date }}
                    </li>
                    <li>
                        <span>조회수 :</span>
                        {{ obj.hits }}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<!-- 내용 -->
<div class="viewContWrap">
    <div class="viewCont">
        {{ obj.memo|safe }}
    </div>
</div>

<!-- 목록 버튼 -->
<div class="btn_listWrap">
    <span id="control">
        <p class="btn_list">
            <a href="{% url 'board:question_update' pk=obj.pk %}">수 정</a>
        </p>
        <p class="btn_list">
            <a href="javascript:delete_popup();">삭 제</a>
        </p>
    </span>
    <p class="btn_list">
        <a href="{% url 'board:question_list' %}">목 록</a>
    </p>
</div>
<br><br>

<!-- 댓글 작성창 -->
<div class="comment-bottom">
    {% if request.session.member_id %}
    <form method="POST" action="{% url 'board:question_detail' pk=obj.pk %}" enctype="multipart/form-data">
        <input type="submit" id="button1" class="btn btn-primary" value="등록하기">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    {% else %}
    <div class="alert alert-warning">로그인된 사용자만 댓글을 작성할 수 있습니다.</div>
    {% endif %}
</div>

<br>

<!-- 댓글 창 -->
<div id="comment">
    {% for comment in restaurants %}
    <div class="comment-list">
        <div class="comment-name">{{ comment.author }}&nbsp;&nbsp;
            <small>{{ comment.created_date }}</small>&nbsp;&nbsp;
            {% if request.session.member_id == comment.author.member_id or request.session.member_id == "admin1234" %}
            <small><a href="{% url 'board:question_comment_delete' pk=obj.pk cpk=comment.pk %}" class="but">삭제</a></small>
            {% endif %}
        </div>
        <div class="comment-memo">
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        <br>
    </div>
    {% empty %}
    <div class="comment-list">
        <p style="padding-left: 15px;">작성된 댓글이 없습니다!</p>
    </div>
    {% endfor %}
</div>

<!-- 페이징 (현재페이지일 경우 굵게 표시<b>)-->
    <br>   
    <table cellspacing=1 width=700 class="tbl_page">
        <tr>
        <td>
        {% if restaurants.has_previous %}
        <a href="?page=1"><b>&laquo;</b></a>
        {%  endif %}
        
        {% for pageNum in pageRange %}
            {% if restaurants.number == pageNum %}
                <spen class="current">
                    [
                    <b>{{ restaurants.number }}</b> 
                    ]
                </spen>
            {% else %}
                <a href="?page={{ pageNum }}">[{{ pageNum }}]</a>
            {% endif %}
        {% endfor %}
        
        {% if restaurants.paginator.num_pages > lastPage %}
            <a href="?page={{ nextRangeStartPage }}"><b>&raquo;</b></a>
        {% endif %}
        </td>
        </tr>
    </table>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>  

<script>
/* 로그인한 유저가 작성한 글인지 확인 */
/* 일치시 수정삭제 보이기 */
if("{{ request.session.member_id }}" == "{{ create.member_id }}" || "{{ request.session.member_id }}" == "admin1234"){
    $("#control").show();
}
else {
    $("#contorl").hide();    
}


/* 게시글 삭제여부 팝업창 */
function delete_popup(){
    if("{{ request.session.member_id }}" == "{{ create.member_id }}" || "{{ request.session.member_id }}" == "admin1234"){
        var result = confirm("정말 삭제하시겠습니까?");
        if(result)
        {
            window.location.href = "{% url 'board:question_delete' pk=obj.pk %}";
        }
    }
    else{
        alert("경고");
        window.location.href = "{% url 'board:question_list' %}";
    }
}



/* 댓글 등록하기 누른 후 내용 초기화 */
var message = "{{ message }}";
if (message="댓글등록"){
    $('.form-control').val('');
}


</script>

{% endblock conbody %}


