{% extends "base.html" %}
{% block title %} 비디오 | MARK {% endblock %}
{% block content %}


{% load static %}
<link rel="stylesheet" href="{% static 'css/video.css' %}">    
<!-- 컨테이너 중앙에 고정 -->
<div class="container"> 
    <!-- 상단 대문이미지 -->
    <div class="container_img"></div><br>
    <div clsas="container_board">
        <div class="sv-wrap">
            <div class="sv"></div>
        </div>
        <div class="content inner">
            <!-- 비디오 타이틀 -->
            <h2 class="page_tit">VIDEO</h2>
            <div class="board-wrap">
                <div class="vod_view">
                    <!-- 메인 비디오 영상 -->
					<div class="frame" id="vod_frame">
                        <iframe src="https://www.youtube.com/embed/0IpbvXVbBYA" frameborder="0" allowfullscreen="" id="video"></iframe>
					</div>
					<p class="date">2020.12.04</p>
                    <p class="tit">NCT 2020 - RESONANCE</p>
                </div>
                <!-- 비디오 리스트 -->
                <div class="data_list">
                    <ul class="vod_list">
                        <li>
                            <a href="javascript:showVideo(1);">
                                <span class="thumb"><img src="../../../static/images/mark_video/RESONANCE.webp" alt="" width="370" height="220"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:showVideo(2);">
                                <span class="thumb"><img src="../../../static/images/mark_video/90'slove.webp" alt="" width="370" height="220"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:showVideo(3);">
                                <span class="thumb"><img src="../../../static/images/mark_video/mis-fit.webp" alt="" width="370" height="220"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:showVideo(4);">
                                <span class="thumb"><img src="../../../static/images/mark_video/Dejavu.webp" alt="" width="370" height="220"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:showVideo(5);">
                                <span class="thumb"><img src="../../../static/images/mark_video/100.webp" alt="" width="370" height="220"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:showVideo(6);">
                                <span class="thumb"><img src="../../../static/images/mark_video/punch.webp" alt="" width="370" height="220"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    

<script>

function showVideo(num){
    if (num==1){
        var video = "https://www.youtube.com/embed/0IpbvXVbBYA";
        $("#video").attr("src", video);
        $(".date").text("2020.12.04");
        $(".tit").text("NCT 2020 - RESONANCE");
    }
    else if (num==2){
        var video = "https://www.youtube.com/embed/A5H8zBb3iao";
        $("#video").attr("src", video);
        $(".date").text("2020.11.23");
        $(".tit").text("NCT U - 90's Love");
    }
    else if (num==3){
        var video = "https://www.youtube.com/embed/0b-EatqUvb4";
        $("#video").attr("src", video);
        $(".date").text("2020.10.09");
        $(".tit").text("NCT U - Misfit");
    }
    else if (num==4){
        var video = "https://www.youtube.com/embed/QyKe4VXDx5I";
        $("#video").attr("src", video);
        $(".date").text("2020.10.08");
        $(".tit").text("NCT DREAM - 무대로(Déjà vu)");
    }
    else if (num==5){
        var video = "https://www.youtube.com/embed/nyzhtvtJWDQ";
        $("#video").attr("src", video);
        $(".date").text("2020.08.14");
        $(".tit").text("SuperM - 100");
    }
    else if (num==6){
        var video = "https://www.youtube.com/embed/U08OSl3V4po";
        $("#video").attr("src", video);
        $(".date").text("2020.05.20");
        $(".tit").text("NCT 127 - Punch");
    }
    else {
        alert("잘못된 정보입니다.")
    }
}   

</script>
{% endblock content %}